/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {

	/* General */


	/* Home Page */


	/* About Page */


	/* Blog Page */


	/* Contact Us Page */

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

	/* General */


	/* Home Page */


	/* About Page */


	/* Blog Page */


	/* Contact Us Page */

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

	/* General */


	/* Home Page */


	/* About Page */


	/* Blog Page */


	/* Contact Us Page */
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

	/* General */


	/* Home Page */


	/* About Page */


	/* Blog Page */


	/* Contact Us Page */

}